body {
    font-family: 'Roboto', sans-serif;
   
}

#logo {
    max-width: 300px;
}

.regels {
    margin-top: 500px;
}

.goed {
    color: white;
    background-color: red;
    font-size: 56px;
    border:5px solid #1E76B6;
    border-radius: 50px;
}

.plekgoed {
    color: white;
    background-color: yellow;
    font-size: 56px;
    border:5px solid #1E76B6;
    border-radius: 50px;
}

.fout {
    color: white;
    background-color: #1E76B6;
    font-size: 56px;
    border:5px solid #1E76B6;
    border-radius: 50px;
}

#lingobutton {
    max-width: 100px;
}


